@import url("../style/style.css");

header{
    height: 20vh;
}

a{
    text-decoration: none;
}

.art_head{
    padding-left: 40%;
    border: none;
    border-bottom: thick;
    border-color: black;
    background-color: white;
    font-family: 'Coolvetica';
    font-size: calc(var(--index)*5);
}

.articles{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    background-color: black;
    padding:3% 4%;
}

.art{
    flex-basis: auto;
    height: 50vh;
    padding: 30px;
    margin:2% 20px 4% 3%;
    border-radius: 60px;
    border: thick solid;
    border-color: white;
    background-color: rgb(255, 255, 255);
    flex: 1 1 30%;
    font-size: calc(var(--index_h)*2.5);
    box-shadow: 0 0 10px 10px #414141;
    position:relative;
}

#art_1{
    background-image: url('../images/icons/art_icon_alph.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#art_1>a{
    color:black;
}



#art_1:hover{
    background-image: url('../images/ru_alph.png');
    background-position: top;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-size: 90%;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
}

#art_1>a::before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

#art_2{
    background-image: url('../images/icons/graduation_hat.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#art_2>a{
    color:black;
}

#art_3{
    background-image: url('../images/icons/travel.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#art_3>a{
    color:black;
}

#art_4{
    background-image: url('../images/icons/exam.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom;
}

#art_4>a{
    color:black;
}


.contacts{
    color:black;
}

.cont>p>a{
    text-decoration: none;
    color:black;
}

.cont{
    color:black;
}

address>img{
    filter: invert(0);
}

footer{
    background-color: white;
}